# This is the node.php .gitignore
# it ignores everything except node.php and it's meta files.
*
!node.php
!node
!README.md
!.gitignore

# Un-ignore the directory structure
!Docs/
!Docs/Node/

# Now un-ignore the files inside
!Docs/Node/*.md
